 html {
     min-height: 100%;
     background-size: cover;
     width: 100%;
     margin: 0;
 }
 
 body {
     width: 100%;
     margin: 0;
     background: url(bg.jpg) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     font-family: 'Roboto Slab', serif;
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }
 
 #header {
     z-index: 999;
     position: fixed;
     top: 0;
     width: 100%;
     text-align: center;
     font-size: 2.4em;
     color: rgba(255, 255, 255, 0.9);
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3498e5+13,235f9c+100,235f9c+100 */
     background: #3498e5;
     /* Old browsers */
     background: -moz-linear-gradient(top, #3498e5 13%, #235f9c 100%, #235f9c 100%);
     /* FF3.6-15 */
     background: -webkit-linear-gradient(top, #3498e5 13%, #235f9c 100%, #235f9c 100%);
     /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to bottom, #3498e5 13%, #235f9c 100%, #235f9c 100%);
     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3498e5', endColorstr='#235f9c', GradientType=0);
     /* IE6-9 */
     line-height: 90px;
     height: 90px;
     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
 }
 
 #headerSpace {
     height: 90px;
     margin-bottom: 5px;
     width: 100%;
 }
 
 #groupContainer {
     margin-top: 30px;
 }
 
 .ledGroup {
     width: 700px;
     height: 120px;
     margin: auto;
     margin-bottom: 10px;
     text-align: left;
     border-radius: 6px;
     color: black;
     background: rgba(255, 255, 255, 0.8);
     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
     transition: .6s;
     cursor: pointer;
 }
 
 .ledGroup .name {
     font-size: 2em;
     float: left;
     height: 70px;
     line-height: 70px;
     margin-left: 30px;
     width: 100%;
 }
 
 .ledFunc {
     text-transform: capitalize;
     background: rgba(255, 255, 255, 0.8);
     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
     display: inline-block;
     float: left;
     padding: 6px 12px;
     border-radius: 6px;
     margin-left: 10px;
     color: #fff;
 }
 
 .ledFunc.off {
     margin-left: 30px;
     background-color: #333;
     border-color: #111;
 }
 
 .ledFunc.on {
     background-color: #f0ad4e;
     border-color: #eea236;
 }
 
 .ledFunc.warm {
     color: #888;
     background-color: #ecd863;
     border-color: #f0ad4e;
 }
 
 .ledFunc.high {
     color: #555;
     background-color: #ebec63;
     border-color: #bcbc4f;
 }
 
 .ledFunc.red {
     background-color: #d9534f;
     border-color: #d43f3a;
 }
 
 .ledFunc.green {
     background-color: #5cb85c;
     border-color: #4cae4c;
 }
 
 .ledFunc.blue {
     background-color: #337ab7;
     border-color: #2e6da4;
 }
 
 .ledFunc.party {
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f43030+0,34f731+49,1433ff+100 */
     background: #f43030;
     /* Old browsers */
     background: -moz-linear-gradient(-45deg, #f43030 0%, #34f731 49%, #1433ff 100%);
     /* FF3.6-15 */
     background: -webkit-linear-gradient(-45deg, #f43030 0%, #34f731 49%, #1433ff 100%);
     /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(135deg, #f43030 0%, #34f731 49%, #1433ff 100%);
     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f43030', endColorstr='#1433ff', GradientType=1);
     /* IE6-9 fallback on horizontal gradient */
 }
 
 .lightGroup {
     width: 700px;
     height: 80px;
     margin: auto;
     margin-bottom: 10px;
     text-align: center;
     background: rgba(100, 100, 100, 0.4);
     border-radius: 6px;
     color: rgba(255, 255, 255, 0.8);
     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
     transition: .6s;
     cursor: pointer;
 }
 
 .lightGroup.on {
     color: black;
     background: rgba(255, 255, 255, 0.8);
 }
 
 .name {
     font-size: 2em;
     float: left;
     line-height: 80px;
     margin-left: 30px;
 }
 
 .name span {
     color: #F09905;
 }
 
 .on .name span {
     color: #0680CD;
     text-shadow: 0 0 5px #0680CD;
 }
 
 #attribution {
     background-color: #ffffff;
     width: 100%;
     position: fixed;
     bottom: 0;
     left: 0;
     padding: 5px;
 }
 
 .onoff {
     width: 100px;
     height: 50px;
     box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
     border-radius: 25px;
     float: right;
     margin: 15px 15px;
     position: relative;
 }
 
 .on .onoff {
     background-color: #CBEA60;
 }
 
 .slider {
     position: absolute;
     left: 0;
     width: 50px;
     height: 50px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
     border-radius: 30px;
     background-color: rgba(255, 255, 255, 0.5);
     transition: .5s;
 }
 
 .on .onoff .slider {
     left: 50px;
     background-color: rgba(255, 255, 255, 1);
 }
 
 #vSpace {
     height: 100px;
     margin-top: 20px;
     width: 100%;
 }
 
 #sortContainer {
     width: 100%;
     position: fixed;
     bottom: 0;
     left: 0px;
     bottom: 0px;
     height: 105px;
     width: 100%;
 }
 
 #sortContainer>div {
     width: 850px;
     margin: 0 auto;
     height: 80px;
     background-color: rgba(255, 255, 255, 1);
     box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16), 0 -3px 6px rgba(0, 0, 0, 0.23);
     border-top-left-radius: 12px;
     border-top-right-radius: 12px;
     overflow: hidden;
 }
 
 .sortButton {
     width: 16.66666%;
     height: 80px;
     float: left;
     position: relative;
     cursor: pointer;
     transition: .6s;
 }
 
 .sortButton:hover {
     background-color: #1982EA;
     color: white;
 }
 
 .selected {
     background-color: #4096ee;
     color: white;
     text-shadow: 0 0 5px white;
 }
 
 .title {
     position: absolute;
     bottom: 5px;
     width: 100%;
     text-align: center;
 }
 
 .logo {
     position: absolute;
     top: 0px;
     width: 100%;
     height: 55px;
 }
 
 .logow {
     position: absolute;
     opacity: 0;
     top: 0px;
     width: 100%;
     height: 55px;
 }
 
 .sortButton:hover .logow {
     opacity: 1;
 }
 
 .selected .logow {
     opacity: 1;
 }
 
 #credits {
     position: fixed;
     bottom: 0;
     z-index: 2;
     width: 100%;
     float: left;
     line-height: 25px;
     height: 25px;
     font-size: 1em;
     text-align: center;
     background: #0680CD;
     color: rgba(255, 255, 255, 0.8);
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3498e5+13,235f9c+100,235f9c+100 */
     background: #3498e5;
     /* Old browsers */
     background: -moz-linear-gradient(top, #3498e5 13%, #235f9c 100%, #235f9c 100%);
     /* FF3.6-15 */
     background: -webkit-linear-gradient(top, #3498e5 13%, #235f9c 100%, #235f9c 100%);
     /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to bottom, #3498e5 13%, #235f9c 100%, #235f9c 100%);
     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3498e5', endColorstr='#235f9c', GradientType=0);
     /* IE6-9 */
     box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16), 0 -3px 6px rgba(0, 0, 0, 0.23);
 }
 
 @media (max-width: 960px) {
     #sortContainer>div {
         width: 100%;
         border-radius: 0;
     }
 }
 
 @media (max-width: 750px) {
     #header {
         font-size: 25px;
         height: 60px;
         line-height: 60px;
     }
     #headerSpace {
         height: 60px;
     }
     #groupContainer {
         margin-top: 5px;
     }
     .ledGroup {
         height: 135px;
         width: 100%;
         margin-bottom: 5px;
         border-radius: 0;
     }
     .ledGroup .name {
         width: 100%;
         margin: 0;
         text-align: center;
         font-size: 1.3em;
         line-height: 50px;
         height: 45px;
     }
     .ledFunc {
         box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16), 0 1px 4px rgba(0, 0, 0, 0.23);
         display: inline-block;
         float: left;
         text-align: center;
         font-size: .9em;
         border-radius: 0;
         margin-left: 0;
         color: #fff;
         width: 23%;
         margin: 5px 1%;
         height: 32px;
         box-sizing: border-box;
         border-radius: 6px;
     }
     .ledFunc.off {
         margin-left: 1%;
     }
     .lightGroup {
         width: 100%;
         height: 60px;
         margin-bottom: 5px;
         border-radius: 0;
     }
     .name {
         width: 100%;
         margin: 0;
         text-align: center;
         font-size: 1.3em;
         line-height: 60px;
     }
     .onoff {
         display: none;
         width: 80px;
         height: 40px;
         margin: 10px 10px;
     }
     .slider {
         width: 40px;
         height: 40px;
     }
     .on .onoff .slider {
         left: 40px;
     }
     #vSpace {
         height: 70px;
     }
     #sortContainer {
         height: 90px;
     }
     #credits {
         line-height: 20px;
         height: 20px;
         font-size: .8em;
     }
     .sortButton {
         height: 70px;
     }
     .title {
         bottom: 5px;
         font-size: .9em;
         text-shadow: 0 0 3px white;
     }
     .logo {
         position: absolute;
         top: 5px;
         width: 100%;
         height: 38px;
     }
     .logow {
         position: absolute;
         top: 5px;
         width: 100%;
         height: 38px;
     }
 }